@font-face {
    font-family: 'Galette-Medium';
    src: url('../fonts/galette-med.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/helvetica-light.otf');
    font-weight: 300;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

/* Common */
.button-transparent {
    display: block;

    background-color: transparent;
    border: 1px solid #F6BB32;
    border-radius: 1px;

    font-family: "Helvetica", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;

    color: #FFFFFF;

    padding: 15px 45px;
}
.button-transparent:hover {
    background: #F6B319;
    border: 1px solid #F6B319;
    cursor: pointer;
    color: #424242;
}
.button-transparent:active {
    background: #F6B319;
    border: 1px solid #F6B319;
    cursor: pointer;
    color: #424242;
}
.button-solid {
    display: block;

    background: #F6BB32;
    border: 1px solid #F6BB32;
    border-radius: 1px;

    font-family: "Helvetica", Arial, sans-serif;;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;

    color: #424242;

    padding: 15px 45px;
}
.button-solid:hover {
    background: #F6B319;
    border: 1px solid #F6B319;
    cursor: pointer;
}
.button-solid:active {
    background: #F6B319;
    border: 1px solid #F6B319;
    cursor: pointer;
}
.header2 {
    font-family: "Galette-Medium", Arial, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: normal;
    text-align: center;

    color: #424242;
}

.header3 {
    font-family: "Galette-Medium", Arial, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: normal;
    text-align: center;

    color: #424242;
}

.header4 {
    font-family: "Galette-Medium", Arial, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    text-align: center;

    color: #424242;
}

/* Header*/

.small-header {
    background: #4b869f url("../img/headerbg.jpg") no-repeat center;
    background-size: cover;
    height: 145px;

}
.small-header-wrapper {
    max-width: 1200px;
    padding: 45px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .small-header-wrapper {
        flex-direction: column;
        align-items: center;

    }
    .header__button {
        margin-top: 20px;
    }
    .small-header {
        height: 220px;
    }
}

/* Splash */
.splash {
    background: #4b869f url("../img/splashbg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #ffffff;

}
.splash-wrapper {
    max-width: 1200px;
    padding: 45px 30px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {

}

.header__button {
}

.splash-content {
    margin: calc((100vh - 360px - 100px - 45px)/2) auto 0 auto;
}
.splash-content__description {
    font-family: "Galette-Medium", Arial, sans-serif;
    font-size: 65px;
    line-height: 80px;
    font-weight: normal;
    text-align: center;

    color: #FFFFFF;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 40px;
}
.splash-content__sub-description {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;

    color: #FFFFFF;
    max-width: 710px;
    padding-top: 40px;
    padding-bottom: 80px;
    margin: 0 auto;
}
.splash-content__contact-us-button {
    margin: 0 auto;
    max-width: 330px;
}

@media screen and (max-width: 390px) {
    .splash-content__contact-us-button {
        min-width: 100%;
    }
    .splash-content__description {
        font-size: 45px;
        line-height: 60px;
    }
    .splash-content__sub-description {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;

    }
    .header__button {
        margin-top: 20px;
    }
    .splash {
        height: auto;
    }
    .splash-content {
        margin: 0 auto;
    }
}

@media screen and (max-height: 545px) {
    .splash-content {
        margin: 0 auto;
    }
    .splash {
        height: auto;
    }
}





/* About */
.about {
    background-color: #ebebeb;
    color: #424242;
    padding-bottom: 70px;
}
.about-wrapper {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
.about__header2 {
    padding-top: 70px;
}
.about__header3 {
    padding-top: 40px;
}
.about__header4 {
    padding-top: 25px;
    padding-bottom: 10px;
}
.about__text {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 22px;
    line-height: 35px;
    text-align: center;

    color: #424242;

    max-width: 710px;
    margin: 0 auto;
    padding-top: 25px;
}
.about__learn-more-button {
    margin: 50px auto 0 auto;
    color: #424242;
    min-width: 330px;
}
.about__stack-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.about__stack-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.about__stack-img {
    padding-bottom: 12px;

}
.about__stack-text {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;

    color: #424242;

}

@media screen and (max-width: 390px) {
    .about__learn-more-button {
        min-width: 100%;
    }
}




/* Portfolio */
.portfolio {
    background-color: #ffffff;
    color: #424242;
}

.portfolio-wrapper {
    max-width: 1600px;
    padding: 70px 15px;
    margin: 0 auto;
}
.portfolio__header {

}
.portfolio__list {
    margin-bottom: 35px;
    margin-top: 35px;
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio__item {
    padding: 15px;
    width: 33%;
}
.portfolio__item-image {
    width: 100%;
}

.portfolio__show-more-button {
    /*margin: 35px auto 0 auto;*/
    margin: 0 auto;
    color: #424242;
    min-width: 330px;
}

@media screen and (max-width: 390px) {
    .portfolio__show-more-button {
        min-width: 100%;
    }
}

@media screen and (max-width: 1200px){
    .portfolio__item{
        width: 50%;
    }
}

@media screen and (max-width: 772px){
    .portfolio__item{
        width: 100%;
    }
    .portfolio__item {
        padding: 15px 0;
    }
    .portfolio-wrapper {
        padding: 70px 30px;
    }
}

.portfolio-content-wrapper{
    max-width: 1460px;
    padding: 50px 30px;
    margin: 0 auto;
}
.portfolio-content__img{
    max-width: 1400px;
    width: 100%;
    /*border: 1px solid tomato;*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}








/* Request */
.request {
    background-color: #4b869f;
    color: #ffffff;
}
.request-wrapper {
    max-width: 570px;
    padding: 70px 30px;
    margin: 0 auto;
}
.request__header {
    color: #ffffff;
}
.request__text {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 22px;
    line-height: 35px;
    text-align: center;

    padding-top: 25px;
}

.request_form {
    padding-top: 25px;
}
.request_form__send-request-button {
    max-width: 330px;
    width: 100%;
    margin: 35px auto 0 auto;
}

.request_form__edit-title {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;

    color: #FFFFFF;
    display: block;
    padding-top: 10px;
    padding-bottom: 4px;
}

.request_form__edit {
    width: 100%;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 2px;
    height: 41px;

    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #424242;

    padding-left: 12px;
    padding-right: 12px;

}

.request_form__edit:focus {
    outline: #F6BB32 solid 1px;
}
.request_form__edit_error {
    border: 1px solid #E3533F;
}

.request_form__edit-error-text {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    text-align: right;
    color: #FF8574;
}
.request_form__textarea {
    width: 100%;

    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 2px;
    height: 120px;

    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #424242;

    padding: 12px;
    vertical-align: top;

}
.request_form__textarea:focus {
    outline: #F6BB32 solid 1px;
}
.request_form__textarea_error {
    border: 1px solid #E3533F;
}

.request_form__textarea-error-text {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    text-align: right;
    color: #FF8574;
}

.overlay {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.5);
    z-index: 9;
}

.request-form-popup{
    display: none;
}

.request-form-popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 10;
}
.request-form-popup__overlay-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    z-index: 11;
}
.request-form-popup__content-wrapper {
    position: static;
    padding: 10px 10px 0;
    display: flex;
    min-width: 100%;
    max-height: 100%;
    z-index: 12;
}

.request-form-popup__X3 {
    width: 100%;

}

.request-form-popup__content {
    position: relative;

    color: #ffffff;
    background-color: #4b869f;
    border: 1px solid #4b869f;
    border-radius: 5px;
    max-width: 690px;
    width: calc(100% - 60px);
    z-index: 13;
    padding: 40px;
    margin: 0 auto 10px auto;
}

/*.request-form-popup {*/
/*    position: fixed;*/
/*    display: none;*/
/*    color: #ffffff;*/
/*    background-color: #4b869f;*/
/*    border: 1px solid #4b869f;*/
/*    border-radius: 5px;*/
/*    top:50%;*/
/*    left:50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 10;*/
/*    max-width: 690px;*/
/*    width: calc(100% - 60px);*/
/*}*/
.request-form-popup-wrapper {
    position: relative;
    padding: 40px;
    margin: 0 auto;
}

.request-form-popup__close-cross {    display: block;
    background-color: transparent;
    background-image: url("../img/close-cross-white.svg");
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right:20px;
}
.request-form-popup__close-cross:hover {
    background-color: #5699b5;
    cursor: pointer;
}

.request-popup {
    position: fixed;
    display: none;
    background-color: #ffffff;
    border: 1px solid #DADADA;
    border-radius: 2px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 690px;
    width: calc(100% - 60px);
}

.request-popup-wrapper {
    position: relative;
    padding: 40px;
    margin: 0 auto;
}

.request-popup_show {
    display: block;
}

.request-popup__close-cross {
    display: block;
    background-color: transparent;
    background-image: url("../img/close-cross.svg");
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right:20px;
}
.request-popup__close-cross:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.request-popup__header {
    font-family: "Galette-Medium", Arial, sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: normal;
    text-align: center;
    color: #424242;
    padding-bottom: 25px;
}

.request-popup__message {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    color: #424242;
    padding-bottom: 40px;
}

.request-popup__close-button {
    margin: 0 auto;
    color: #424242;
    max-width: 330px;
    width: 100%;
}


/* Footer */
.footer {

}
.footer-upper-wrapper {
    background: #424242;
    color: #ffffff;
}
.footer-upper {
    max-width: 1200px;
    padding: 40px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .footer-upper {
        flex-direction: column;
        align-items: center;

    }
    .footer-upper__header_offset {
        margin-top: 40px;
    }
    .footer-upper__col1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.footer-upper__col1 {
    max-width: 230px;
}
.footer-upper__col2 {
    max-width: 230px;
}
.footer-upper__col3 {
    max-width: 200px;
}
.footer-upper__logo {

}
.footer-upper__descriptor {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-top: 40px;
}

.footer-upper__header {
    font-family: "Galette-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    color: #F6BB32;
}
.footer-upper__header_offset {
    margin-bottom: 20px;
}

.footer-upper__hiring-list {
    margin-bottom: 22px;
    margin-top: 20px;
    list-style: none;
}
.footer-upper__hiring-item {
    margin-bottom: 13px;
    position: relative;
    padding-left: 20px;
}

.footer-upper__hiring-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 5px;
    height: 5px;

    transform: translateY(-50%);

    background-image: url("../img/footer-bullet.svg");
    background-repeat: no-repeat;

}
.footer-upper__link {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #777777;
}

.footer-upper__link:hover {
    border-bottom: 1px solid #F6BB32;
}

.footer-upper__link:active {
    border-bottom: 1px solid #F6BB32;
}


.footer-upper__email-link {
    margin-bottom: 18px;
    display: block;
}
.footer-upper__all-positions {
    padding-right: 23px;
    position: relative;
}
.footer-upper__all-positions::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;

    width: 15px;
    height: 15px;

    transform: translateY(-50%);
    margin-left: -15px;

    background-image: url("../img/footer-arrow.svg");
    background-repeat: no-repeat;
}

.footer-upper__button {
    display: block;

    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;

    color: #FFFFFF;

    border: 1px solid #F6BB32;
    border-radius: 1px;

    padding: 12px 18px;
}

.footer-upper__button:hover {
    color: #424242;
    background: #F6BB32;

}

.footer-upper__button:active {
    color: #424242;
    background: #F6BB32;
}

.footer-upper__send-message-button {
    margin-bottom: 20px;
}

.footer-upper__social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-upper__social-link {

    height: 35px;
    width: 35px;
    border: 1px solid #F6BB32;
    border-radius: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
}

.footer-upper__social-link:hover {
    background: #F6BB32;
    fill: #424242;
}
.footer-upper__social-link:active {
    background: #F6BB32;
    fill: #424242;
}

.footer-lower-wrapper {
    background: #3B3B3B;
    color: #ffffff;
}
.footer-lower {
    max-width: 1200px;
    padding: 25px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.footer-lower__copyright {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}
.footer-lower__separator-rect {
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 500px) {
    .footer-lower__separator-rect {
        display: none;
    }
    .footer-lower {
        flex-direction: column;
        align-items: center;
    }
    .footer-lower__copyright {
        padding-bottom: 5px;
    }
    .footer-lower__link:last-child {
        margin-right: 0;
    }
}
.footer-lower__link {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 12px;
    line-height: normal;

    color: #FFFFFF;

    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #777777;
    margin-right: 25px;
}

.footer-lower__link:hover {
    border-bottom: 1px solid #F6BB32;
}

.footer-lower__link:active {
    border-bottom: 1px solid #F6BB32;
}

.bread-crumbs{

}
.bread-crumbs-wrapper{
    max-width: 750px;
    width:100%;
    padding: 25px 30px 0 30px;
    margin: 0 auto;
}
.bread-crumbs__list {
    list-style: none;
    display: flex;
}
.bread-crumbs__item {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 12px;
    line-height: normal;

    color: #979797;
}
.bread-crumbs__item-link {
    position: relative;
    padding-right: 29px;
}
.bread-crumbs__item-current {

}
.bread-crumbs__link {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 12px;
    line-height: normal;

    color: #979797;

    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #DADADA;
}

.bread-crumbs__link:hover {
    border-bottom: 1px solid #F6BB32;
}

.bread-crumbs__link:active {
    border-bottom: 1px solid #F6BB32;
    color: #F6BB32;
}

.bread-crumbs__item-link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;

    width: 5px;
    height: 5px;

    transform: translateY(-50%);

    background-image: url("../img/gray-rect-bread-crumbs.svg");
    background-repeat: no-repeat;
}

.bread-crumbs__item-current {

}




.legal-content, .terms-content{

}
.legal-content-wrapper, .terms-content-wrapper {
    max-width: 750px;
    width:100%;
    padding: 25px 30px 60px 30px;
    margin: 0 auto;
}

.legal-content__h1, .terms-content__h1 {
    font-family: "Galette-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: normal;
    text-align: center;

    color: #424242;
    margin: 0 auto;
    padding: 0 0 15px 0;
}

.legal-content__h2 {
    font-family: "Galette-Medium", Arial, sans-serif;
    /*font-style: normal;*/
    font-weight: 500;
    font-size: 30px;
    line-height: normal;

    color: #424242;
    padding: 30px 0 15px 0;
}

.legal-content__p {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #424242;
    padding: 10px 0;

}

.legal-content__list {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #424242;
    list-style: none;
    padding: 10px 0;
}

.legal-content__list .legal-content__item:first-child {
    padding: 0 0 5px 40px;
}

.legal-content__list .legal-content__item:first-child::before {
    top: 14px;
}

.legal-content__list .legal-content__item:last-child {
    padding: 5px 0 0 40px;
}

.legal-content__item {
    position: relative;
    padding: 5px 0 5px 40px;
}

.legal-content__item::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 20px;

    width: 5px;
    height: 5px;

    transform: translateY(-50%);

    background-image: url("../img/gray-rect.svg");
    background-repeat: no-repeat;
}
.terms-content__h1 {
    padding: 0;
}
.terms-content__list {
    list-style: none;
    counter-reset: li;
}
.terms-content__item:before, .terms-content__parent-item:before {
    counter-increment: li;
    content: counters(li,".") ". ";
    padding-right: 10px;
}

.terms-content__parent-item {
    font-family: "Galette-Medium", Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: normal;
    color: #424242;
    padding: 30px 0 0 0;
}
.terms-content__item, .terms-content__inner-item {
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #424242;
    padding: 10px 0px 10px 0px;
}
.terms-content__inner-item {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 0 5px;
}

.terms-content__inner-list {
    list-style: lower-alpha;
    margin-left: 85px;

}

.not-found{

}

.not-found-wrapper{
    max-width: 750px;
    width:100%;
    padding: 80px 30px 70px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__img{
    max-width: 341px;
    width: 100%;
}

.not-found__h1{
    font-family: "Galette-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: normal;
    text-align: center;
    color: #424242;
    margin: 0;

    padding-top: 40px;
}
.not-found__p{
    font-family: "Helvetica-Light", Arial, sans-serif;
    font-size: 22px;
    line-height: 35px;
    color: #424242;
    padding-top: 25px;
    text-align: center;
}
.not-found__home-button{
    max-width: 330px;
    width: 100%;

    margin-top: 40px;
}


/*To Top Button*/

.to-top-button {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgba(246, 187, 50, 0.4) ;
    background-image: url("../img/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    border-radius: 1px;
    bottom: 30px;
    left: 50%;
    margin-left: 600px;
    cursor: pointer;
}

.to-top-button:hover {
    background-color: #F6BB32;
    background-image: url("../img/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.to-top-button:active {
    background-color: #F6BB32;
    background-image: url("../img/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1300px) {
    .to-top-button {
        margin-left: 0;
        left: auto;
        right: 30px;
    }
}








.show {
    display: block;
}

